<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{address ? 'Show Private Key' : 'Show Seed Phrase'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form *ngIf="shouldInput" [formGroup]="passwordForm" (ngSubmit)="verifyPassword()">
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" [type]="hide ? 'password' : 'text'"></ion-input>
      <ion-button (click)="hide = !hide" slot="end" fill="clear" class="margin-auto">
        <ion-icon [name]="hide ? 'eye-off' : 'eye'" color="primary" class="input-icon"></ion-icon>
      </ion-button>
    </ion-item>
  </form>

  <ion-card *ngIf="privatekey">
    <ion-card-header>
      <ion-card-title>Your private key</ion-card-title>
    </ion-card-header>
    <img *ngIf="privatekeyQr" [src]="privatekeyQr" />
    <ion-card-content>
      <ion-item lines="none">
        <ion-label text-wrap>{{privatekey}}</ion-label>
      </ion-item>
      <ion-row justify-content-center>
        <ion-chip (click)="copy(privatekey)">
          <ion-icon name="copy" color="dark"></ion-icon>
          <ion-label>Copy to clipboard</ion-label>
        </ion-chip>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="hdKey">
    <ion-card-header>
      <ion-card-title>Your seed phrase</ion-card-title>
      <ion-card-subtitle><h4>{{getSeedTypeName(hdKey.seedType)}}</h4></ion-card-subtitle>
      <ion-card-subtitle>Derivation Path: {{hdKey.basePath}}i</ion-card-subtitle>
    </ion-card-header>
    <img *ngIf="seedPhraseQr" [src]="seedPhraseQr" />
    <ion-card-content>
      <ion-item lines="none">
        <ion-label text-wrap>{{hdKey.mnemonic}}</ion-label>
      </ion-item>
      <ion-row justify-content-center>
        <ion-chip (click)="copy(hdKey.mnemonic)">
          <ion-icon name="copy" color="dark"></ion-icon>
          <ion-label>Copy to clipboard</ion-label>
        </ion-chip>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer *ngIf="shouldInput">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="verifyPassword()" [disabled]="!passwordForm.valid" expand="block" color="primary">SHOW</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>