.identicon {
  --border-radius: 50px;
  --padding-start: 4px;
  --inner-padding-end: 4px;
  --inner-padding-top: 4px;
}

.address {
  --border-radius: 50px;
  --background: #d9fffc;
}

.edit-account-name {
  font-size: 25px;
}

.label-account-name {
  --ripple-color: #cccccc;
  --border-radius: 20px;
}
