<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'importAccount.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="importForm" (ngSubmit)="importAccount()">
    <ion-item>
      <ion-label position="floating">{{ 'importAccount.name' | translate }}</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'importAccount.privateKey' | translate }}</ion-label>
      <ion-input type="password" formControlName="privatekey" autofocus="true"></ion-input>
      <ion-button (click)="scanQrcode()" slot="end" fill="clear" class="margin-auto">
        <ion-icon name="qr-scanner" color="primary" class="inner-icon"></ion-icon>
      </ion-button>
    </ion-item>
  </form>
  <ion-row justify-content-center>
    <ion-text color="danger" margin>
      <p>{{ 'importAccount.attentionImport' | translate }}</p>
    </ion-text>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="importAccount()" expand="block" color="primary">
          {{ 'importAccount.import' | translate }}
          <ion-icon name="download" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>