<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sign Transaction</ion-title>
    <ion-buttons slot="end" (click)="openAccountsPage()" margin-end>
      <ion-item lines="none" class="identicon" button>
        <app-ident-icon [address]="address" diameter="40"></app-ident-icon>
      </ion-item>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="request">
    <ion-item lines="none" text-center>
      <ion-label>
        <h1>Request From</h1>
      </ion-label>
    </ion-item>
  
    <ion-row justify-content-center>
      <ion-avatar>
        <ion-img [src]="request.icon"></ion-img>
      </ion-avatar>
    </ion-row>
  
    <ion-item lines="none" text-center>
      <ion-label>
        <h2>{{request.origin}}</h2>
        <p>{{request.title}}</p>
        <p>{{request.href}}</p>
      </ion-label>
    </ion-item>
  </ng-container>

  
  <form [formGroup]="signatureForm" (ngSubmit)="sign()">
    <ion-item>
      <ion-label position="floating">Raw Transaction</ion-label>
      <ion-textarea
        formControlName="unsignedTx"
        [readonly]="request"
        autoGrow="true"
        autofocus="true"
        (paste)="signedTxControl.setValue('')"
        (cut)="signedTxControl.setValue('')"
        (keyup)="signedTxControl.setValue('')"
      ></ion-textarea>
    </ion-item>

    <ion-item *ngIf="signedTxControl.value">
      <ion-label position="floating">Signed Transaction</ion-label>
      <ion-textarea
        formControlName="signedTx"
        autoGrow="true"
        readonly="true"
      ></ion-textarea>
    </ion-item>
  </form>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="cancel()" expand="block" color="light">CANCEL</ion-button>
      </ion-col>
      <ion-col>
        <ng-container *ngIf="signedTxControl.value; then signed; else signButton"></ng-container>
        <ng-template #signed>
          <ng-container *ngIf="request; then sendButton; else copyButton"></ng-container>
          <ng-template #sendButton>
            <ng-container *ngIf="request.action === 'mpurse.sign.tx.request'; then signRequest; else sendRequest"></ng-container>
            <ng-template #signRequest>
              <ion-button (click)="sendToWeb()" expand="block" color="secondary">SEND TO WEB</ion-button>
            </ng-template>
            <ng-template #sendRequest>
              <ion-button (click)="broadcast()" expand="block" color="secondary">BROADCAST</ion-button>
            </ng-template>
          </ng-template>
          <ng-template #copyButton>
            <ion-button (click)="copy()" expand="block" color="secondary">COPY</ion-button>
          </ng-template>
        </ng-template>
        <ng-template #signButton>
          <ion-button (click)="sign()" [disabled]="!signatureForm.valid" expand="block" color="primary">SIGN</ion-button>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>