<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Accounts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let identity of identities"
      (click)="changeAddress(identity.address)"
      (press)="identity.isImport ? removeAccount(identity.address) : {}"
      lines="full"
      button>
      <ion-row justify-content-center>
        <app-ident-icon [address]="identity.address" diameter="40" margin-end></app-ident-icon>
      </ion-row>
      <ion-label>
        <ion-row justify-content-between>
          <h2>{{ identity.name }}</h2>
          <ion-text *ngIf="identity.isImport" color="secondary">
            <p>IMPORTED</p>
          </ion-text>
        </ion-row>
        <p>{{ identity.address }}</p>
      </ion-label>
      <ion-icon *ngIf="selectedAddress === identity.address" name="checkmark-circle" slot="end" color="primary"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button (click)="addAccount()" expand="block" color="primary" [disabled]="isDisable" margin>
      Add New Account
    <ion-icon name="add" slot="end"></ion-icon>
  </ion-button>
  <ion-button (click)="openImportPage()" expand="block" color="secondary" [disabled]="isDisable" margin>
      Import Account
    <ion-icon name="download" slot="end"></ion-icon>
  </ion-button>
</ion-footer>