.identicon {
  --border-radius: 50px;
  --padding-start: 4px;
  --inner-padding-end: 4px;
  --inner-padding-top: 4px;
}

ion-button {
	ion-badge {
		position: absolute;
		opacity: 0.9;
        top: 0.1rem;
        right: 0.2rem;
		& ~ ion-icon {
			margin-right: 1.2rem;
		}
	}
}
