<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'browser.title' | translate }}</ion-title>
    <ion-buttons slot="end" (click)="openAccountsPage()" margin-end>
      <ion-item lines="none" class="identicon" detail="false" button>
        <app-ident-icon [address]="address" diameter="40"></app-ident-icon>
      </ion-item>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input type="search" placeholder="Search" (keyup.enter)="search()" [formControl]="searchStrControl"></ion-input>
    <ion-icon name="search" slot="start"></ion-icon>
  </ion-item>

  <ion-list>
    <ion-list-header>
      <ion-label>{{ 'browser.popular' | translate }}</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let app of appList" (click)="open(app.href)" lines="none">
      <ion-avatar slot="start">
        <ion-img *ngIf="app.icon" [src]="app.icon"></ion-img>
        <ion-icon *ngIf="!app.icon" name="cube" size="large" color="primary"></ion-icon>
      </ion-avatar>
      <ion-label text-wrap>
        <h2>{{app.title}}</h2>
        <p>{{app.href}}</p>
        <p>{{app.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>{{ 'browser.favorites' | translate }}</ion-label>
    </ion-list-header>
    
    <ion-item *ngIf="getFavorites().length === 0" lines="none">
      <ion-avatar slot="start">
        <ion-icon name="cube" size="large" color="primary"></ion-icon>
      </ion-avatar>
      <ion-label><p>{{ 'browser.noItem' | translate }}</p></ion-label>
    </ion-item>

    <ion-reorder-group [disabled]="!isReorderMode" (ionItemReorder)="reorderFavorites($event)">
      <ion-item (click)="open(app.href)" *ngFor="let app of getHeadFavorites()" (press)="isReorderMode = !isReorderMode" lines="none">
        <ion-avatar slot="start">
          <ion-img *ngIf="app.icon" [src]="app.icon"></ion-img>
          <ion-icon *ngIf="!app.icon" name="cube" size="large" color="primary"></ion-icon>
        </ion-avatar>
        <ion-label text-wrap>
          <h2>{{app.title}}</h2>
          <p>{{app.href}}</p>
          <p>{{app.description}}</p>
        </ion-label>
        <ion-button *ngIf="!isReorderMode" (click)="toggleFavorite(app);$event.stopPropagation();" fill="clear"  slot="end">
          <ion-icon
            [name]="isFavorite(app.href) ? 'star' : 'star-outline'"
            color="primary"
            size="large">
          </ion-icon>
        </ion-button>
        <ion-reorder *ngIf="isReorderMode" slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>

    <ion-row justify-content-center>
      <ion-item *ngIf="getFavorites().length > 5" lines="none">
        <ion-chip (click)="openAppInfoPage('Favorite')" color="primary" outline="true">
          <ion-icon name="open"></ion-icon>
          <ion-label>{{ 'browser.moreFavorite' | translate }}</ion-label>
        </ion-chip>
      </ion-item>
    </ion-row>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="openAppInfoPage('Active')">
        <ion-icon name="square-outline" size="large"></ion-icon>
        <ion-badge color="primary">{{getTabLength()}}</ion-badge>
      </ion-button>

      <ion-button (click)="openPopover($event)">
        <ion-icon name="more" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
