<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'sendAsset.title' | translate }}</ion-title>
    <ion-buttons slot="end" (click)="openAccountsPage()" margin-end>
      <ion-item lines="none" class="identicon" detail="false" button>
        <app-ident-icon [address]="address" diameter="40"></app-ident-icon>
      </ion-item>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="request">
    <ion-item lines="none" text-center>
      <ion-label>
        <h1>{{ 'sendAsset.from' | translate }}</h1>
      </ion-label>
    </ion-item>
  
    <ion-row justify-content-center>
      <ion-avatar>
        <ion-img [src]="request.icon"></ion-img>
      </ion-avatar>
    </ion-row>
  
    <ion-item lines="none" text-center>
      <ion-label>
        <h2>{{request.origin}}</h2>
        <p>{{request.title}}</p>
        <p>{{request.href}}</p>
      </ion-label>
    </ion-item>
  </ng-container>

  <form [formGroup]="sendAssetForm" (ngSubmit)="sendAsset()">
    <ion-item style="margin: 0; padding: 0">
      <ion-label position="floating">{{ 'sendAsset.destination' | translate }}</ion-label>
      <ion-textarea
        formControlName="to"
        placeholder="{{ 'sendAsset.addressOrAsset' | translate }}"
        [readonly]="toHasAssigned"
        rows="1"
        autoGrow="true">
      </ion-textarea>
      <ion-button *ngIf="!toHasAssigned" (click)="getIssuer()" slot="end" fill="clear" class="margin-auto">
        <ion-icon name="happy" color="primary" class="inner-icon"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!toHasAssigned" (click)="scanQrcode()" slot="end" fill="clear" class="margin-auto">
        <ion-icon name="qr-scanner" color="primary" class="inner-icon"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'sendAsset.asset' | translate }}</ion-label>
      <ng-container *ngIf="assetHasAssigned; then fixAsset; else selectAsset"></ng-container>
      <ng-template #fixAsset>
        <ion-textarea [value]="getAssetName(assetControl.value)" readonly="true" rows="1" autoGrow="true"></ion-textarea>
      </ng-template>
      <ng-template #selectAsset>
        <ion-select formControlName="asset" interface="action-sheet">
          <ion-select-option *ngFor="let asset of assets" [value]="asset.asset">
            {{asset.asset_longname ? asset.asset_longname : asset.asset}}
          </ion-select-option>
        </ion-select>
      </ng-template>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'sendAsset.amount' | translate }}</ion-label>
      <ion-input formControlName="amount" [readonly]="amountHasAssigned"></ion-input>
      <ion-chip *ngIf="!amountHasAssigned" (click)="setAvailableAllFunds()" color="primary" slot="end" class="margin-auto">
        {{ 'sendAsset.available' | translate }}: {{getAvailable(assetControl.value)}}
      </ion-chip>
    </ion-item>

    <ng-container formGroupName="memo" *ngIf="assetControl.value !== 'MONA'">
      <ion-item>
        <ion-label position="floating">{{ 'sendAsset.memoType' | translate }}</ion-label>
        <ng-container *ngIf="memoTypeHasAssigned; then fixType; else selectType"></ng-container>
        <ng-template #fixType>
          <ng-container [ngSwitch]="memoTypeControl.value">
            <ion-input *ngSwitchCase="'no'" readonly="true" value="{{ 'sendAsset.no' | translate }}"></ion-input>
            <ion-input *ngSwitchCase="'hex'" readonly="true" value="{{ 'sendAsset.hex' | translate }}"></ion-input>
            <ion-input *ngSwitchCase="'plain'" readonly="true" value="{{ 'sendAsset.plain' | translate }}"></ion-input>
          </ng-container>
        </ng-template>
        <ng-template #selectType>
          <ion-select formControlName="memoType" interface="action-sheet">
            <ion-select-option value="no">{{ 'sendAsset.no' | translate }}</ion-select-option>
            <ion-select-option value="hex">{{ 'sendAsset.hex' | translate }}</ion-select-option>
            <ion-select-option value="plain">{{ 'sendAsset.plain' | translate }}</ion-select-option>
          </ion-select>
        </ng-template>
      </ion-item>
  
      <ion-item *ngIf="memoTypeControl.value === 'hex' || memoTypeControl.value === 'plain'">
        <ion-label position="floating">{{ 'sendAsset.memo' | translate }}</ion-label>
        <ion-input formControlName="memoValue" [readonly]="memoValueHasAssigned"></ion-input>
        <ion-text *ngIf="memoGroup.invalid" color="danger" padding-bottom>
          {{ 'sendAsset.invalidMemo' | translate }}
        </ion-text>
      </ion-item>
    </ng-container>

    <ion-item>
      <ion-label position="floating">{{ 'sendAsset.fee' | translate }}</ion-label>
      <ion-grid class="fee-grid">
        <ion-row>
          <ion-col size="5">
            <ion-input formControlName="fee"></ion-input>
          </ion-col>
          <ion-col size="7" class="fee-range-col">
            <ion-range
              (touchend)="changeFeeRange($event)"
              [value]="feeControl.value"
              min="10"
              max="200"
              class="fee-range"
              [color]="feeControl.value <= 100 ? 'warning' : 'primary'"
              pin="true">
            </ion-range>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </form>

  <ng-container *ngIf="unsignedTx">
    <ion-item lines="none" padding-top>
      <p>{{ 'sendAsset.resultFee' | translate: {value: calculatedFee / 100000000 | number:'1.8-8'} }}</p>
    </ion-item>
    <ion-item lines="none">
      <ng-container *ngIf="assetControl.value === 'MONA'; then sendMona; else sendAsset"></ng-container>
      <ng-template #sendMona>
        {{ 'sendAsset.remaining' | translate: {value: (getAvailableNumber('MONA') - amountControl.value - calculatedFee / 100000000) | number:'1.8-8'} }}
      </ng-template>
      <ng-template #sendAsset>
        {{ 'sendAsset.remaining' | translate: {value: (getAvailableNumber('MONA') - calculatedFee / 100000000) | number:'1.8-8'} }}
      </ng-template>
    </ion-item>
  </ng-container>
  
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="cancel()" expand="block" color="light">{{ 'sendAsset.cancel' | translate }}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="sendAsset()" expand="block" color="primary" [disabled]="unsignedTx === ''">{{ 'sendAsset.send' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
