<ion-header>
  <ion-toolbar>
    <ion-title>Create Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-text>
      <p>Create a password to encrypt the seed phrase.</p>
    </ion-text>
  </ion-item>
  
  <form [formGroup]="passwordForm" (ngSubmit)="encrypt()">
    <ion-item>
      <ion-label position="floating">New Password (min 8 chars)</ion-label>
      <ion-input formControlName="password" [type]="hide ? 'password' : 'text'"></ion-input>
      <ion-button (click)="hide = !hide" slot="end" fill="clear" class="margin-auto">
        <ion-icon [name]="hide ? 'eye-off' : 'eye'" color="primary" class="inner-icon"></ion-icon>
      </ion-button>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input formControlName="confirmPassword" [type]="hide ? 'password' : 'text'"></ion-input>
      <ion-icon
        [name]="passwordForm.valid ? 'checkmark' : 'close'"
        slot="end"
        [color]="passwordForm.valid ? 'success' : 'danger'"
        class="inner-icon margin-auto margin-right">
      </ion-icon>
    </ion-item>
    
    <ion-item lines="full">
      <ion-label>Use biometrics</ion-label>
      <ion-toggle formControlName="biometrics"></ion-toggle>
    </ion-item>
  </form>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="cancel()" expand="block" color="light">CANCEL</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="encrypt()" [disabled]="!passwordForm.valid" expand="block" color="primary">ENCRYPT</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>