<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'start.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <pre>
  　　　　　　　　 ∧＿∧　　 ／￣￣￣￣￣
　　　　　　　　 （´Д｀） ＜　Don't Trust. 
　　　　　　　　／,　　/　　　＼
　　　　　　　(ぃ９　　|　 　　　 ￣￣￣￣
　　　　　 　 /　　　 /、
　　　　　　 /　　　∧_二つ
　　　　 　 /　　　/
　　　　　 /　　　 ＼
　　　　　/　 /~＼ 　＼
　　　　 /　 /　　　>　 ）
　　　／　ノ　 　 /　／
　　/　／ 　  　 /  /　　　　(ﾟДﾟ）＜Verify.
　 /  /　　　　 （　ヽ､　　　 @(　)>
  （　 _)　　　　　 ＼__つ　　 ／ >　
    </pre>
  </ion-card>
  <h3 text-center>{{ 'start.ownRisk' | translate }}</h3>
</ion-content>

<ion-footer>  
  <ion-text text-center>
    <p>{{ 'start.agree' | translate }}</p>
  </ion-text>
  <ion-button (click)="createNew()" expand="block" margin>
    {{ 'start.new' | translate }}
    <ion-icon name="add" slot="end"></ion-icon>
  </ion-button>
  <ion-button (click)="generateCustomSeed()" expand="block" color="secondary" margin>
    {{ 'start.custom' | translate }}
    <ion-icon name="build" slot="end"></ion-icon>
  </ion-button>
  <ion-button (click)="importExistingSeed()" expand="block" color="secondary" margin>
    {{ 'start.import' | translate }}
    <ion-icon name="download" slot="end"></ion-icon>
  </ion-button>
</ion-footer>