<ion-header>
  <ion-toolbar>
    <ion-title>Term of Use</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <pre>
  　　　　　　　　 ∧＿∧　　  ／￣￣￣￣￣￣￣￣￣
　　　　　　　　 （´Д｀） ＜　Don't Trust. 
　　　　　　　　／,　　/　　　＼
　　　　　　　(ぃ９　　|　 　　　 ￣￣￣￣￣￣￣￣
　　　　　 　 /　　　 /、
　　　　　　 /　　　∧_二つ
　　　　 　 /　　　/
　　　　　 /　　　 ＼
　　　　　/　 /~＼ 　＼
　　　　 /　 /　　　>　 ）
　　　／　ノ　 　 /　／
　　/　／ 　  　 /  /　　 　　(ﾟДﾟ）　＜Verify.
　 /  /　　　　 （　ヽ､　　 　 @(　)>
  （　 _)　　　　　 ＼__つ　　　 ／ >　
    </pre>
  </ion-card>
</ion-content>

<ion-footer>  
  <ion-text text-center>
    <p>By clicking you agree to terms.</p>
  </ion-text>
  <ion-button (click)="createNew()" expand="block" margin>
    CREATE NEW
    <ion-icon name="add" slot="end"></ion-icon>
  </ion-button>
  <ion-button expand="block" color="secondary" margin>
    IMPORT YOUR WALLET
    <ion-icon name="download" slot="end"></ion-icon>
  </ion-button>
</ion-footer>